@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #efebe3;
}
.wrap {
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
}
.gap {
  margin: 0 15px;
}
.container {
  width: 100%;
}

.titleWrap {
  background-color: #e77498;
  border-bottom: 2px solid #000;
}
.titleWrap .container {
  display: flex;
  align-items: center;
}
.titleWrap img {
  width: 50px;
  padding: 15px 0;
  cursor: pointer;
}
.titleWrap h1 {
  margin-left: 15px;
}

/* input, label */
.inputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.inputWrap div:first-child,
.inputWrap div:last-child {
  flex: 1 0 0;
}
.inputWrap label {
  display: block;
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
.inputWrap .equalSign {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
.inputWrap input {
  width: 100%;
  margin: 0;
  padding: 15px;
  outline: none;
  border: 2px solid #000;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}
.inputWrap input:disabled {
  background-color: #000;
  color: #fff;
}

/* Reset버튼, Switch버튼 */
.buttonWrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resetWrap {
  text-align: center;
  display: flex;
  align-items: center;
}
.resetWrap h3 {
  margin-left: 10px;
  font-size: 16px;
  font-weight: normal;
}
.resetBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #000;
  box-sizing: border-box;
  background-color: #29af6e;
  cursor: pointer;
}
.resetBtn img {
  width: 30px;
  height: 30px;
  margin-top: -1px;
  transition: all 0.2s ease-in;
}
.resetBtn:hover img {
  transform: rotate(360deg);
}

.switchWrap {
  display: flex;
  align-items: center;
}
.switchWrap h3 {
  margin-right: 10px;
  font-size: 16px;
  font-weight: normal;
}
.toggleSwitch {
  width: 70px;
  height: 35px;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #000;
  box-sizing: border-box;
  background-color: #9d61a9;
  cursor: pointer;
}
.toggleSwitch .toggleButton {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #000;
  box-sizing: border-box;
  background: #fff;
  transition: all 0.2s ease-in;
}
.toggleSwitch .toggleButton.toggle {
  left: calc(100% - 30px);
  background: #fff;
}

/* 단위변환 메뉴 */
.mainMenuWrap {
  margin: 50px 0 30px;
  position: relative;
}
.selectBtn {
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #000;
  background-color: #ecdf46;
  cursor: pointer;
}
.mainMenu {
  overflow: hidden;
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.2s;
}
.mainMenu.toggle {
  display: block;
  height: 147px;
}
.mainMenu li {
  padding: 10px 15px;
  font-size: 18px;
  border: 2px solid #000;
  border-top: none;
  background-color: #fff;
  cursor: pointer;
}
.mainMenu li:hover {
  color: #fff;
  background-color: #000;
}
.mainMenu li.active {
  color: #fff;
  background-color: #000;
}

.contentWrap {
  width: 100%;
  text-align: center;
}
.contentWrap img {
  width: 100%;
  max-width: 500px;
}
